defusedxml==0.4.1
Django==1.9.4
django-allauth==0.25.2
django-cors-headers==1.1.0
django-rest-auth==0.7.0
djangorestframework==3.3.3
factory-boy==2.6.1
fake-factory==0.5.7
flake8==2.5.4
mccabe==0.4.0
oauthlib==1.0.3
Paver==1.2.4
pep8==1.7.0
Pillow==3.1.1
psycopg2==2.6.1
pyflakes==1.0.0
python-dateutil==2.5.2
python3-openid==3.0.10
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
